@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

$blue_color: rgba(102, 199, 229);
$deep-blue_color: #4f55f5;
$grey_color: #4b4c5f;

$fontTapestry: 'Tapestry', cursive;
$fontNiconne: 'Niconne', cursive;
$fontCrimson: 'Crimson Text', serif;

$font-size-menu: 1.5rem;
$font-size-text: 1.2rem;

$background: linear-gradient(to left, #4f55f5, rgba(102, 199, 229, 0.46));

