@import 'https://fonts.googleapis.com/css2?family=Tapestry&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Niconne&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap';

$blue-color: #66C7E5;
$deep-blue-color: #4f55f5;
$grey-color: #4b4c5f;
$font-tapestry: 'Tapestry', cursive;
$font-niconne: 'Niconne', cursive;
$font-crimson: 'Crimson Text', serif;
$font-size-menu: 1.5rem;
$font-size-text: 1.2rem;
$background: linear-gradient(to left, #4f55f5, #66C7E5);

