@import 'https://fonts.googleapis.com/css2?family=Tapestry&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Niconne&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap';
.menu-btn {
  color: #66C7E5;
  font-family: "Tapestry", cursive;
}
.menu-btn .v-btn {
  font-size: 1.2rem;
}

.router-link-active .v-btn__content {
  color: #4b4c5f;
}

.v-toolbar-title__placeholder {
  color: #4f55f5;
  font-family: "Niconne", cursive;
  font-size: 1.5rem;
}

.v-list-item-title {
  font-family: "Tapestry", cursive;
  font-size: 1.2rem !important;
  color: #4f55f5;
  line-height: 3rem !important;
}

.footer-text {
  font-family: "Niconne", cursive;
  font-size: 1.2rem;
  color: #4b4c5f;
}

.footer {
  background: linear-gradient(to left, #4f55f5, #66C7E5) !important;
}

.introduction div {
  font-family: "Tapestry", cursive !important;
  color: #4f55f5;
}

.introduction p {
  font-family: "Niconne", cursive !important;
  color: #4b4c5f;
}

.introduction span {
  font-family: "Crimson Text", serif !important;
  color: #4b4c5f;
}

.mdi-cloud-download {
  color: #4b4c5f;
  font-size: 1.5rem;
}

.buttons .v-btn__content, .buttons a {
  color: #4b4c5f;
  font-size: 0.84rem;
  font-family: "Tapestry", cursive !important;
}
.buttons .v-btn {
  background: linear-gradient(to left, #4f55f5, #66C7E5) !important;
}
.buttons .v-btn.v-btn--density-default {
  height: 50px;
}

.hero-text {
  color: #4b4c5f;
  font-family: "Crimson Text", serif !important;
}

.title {
  font-family: "Niconne", cursive !important;
  color: #4b4c5f;
  font-size: 1.95rem;
  font-weight: normal;
}

.subtitle {
  font-family: "Tapestry", cursive !important;
  color: #4b4c5f;
  font-size: 1.65rem;
  font-weight: normal;
}

.skills h4, .skills h6 {
  font-family: "Tapestry", cursive !important;
  color: #4b4c5f;
  font-weight: normal;
}
.skills p {
  font-family: "Crimson Text", serif !important;
  color: #4b4c5f;
}

.about__me h4 {
  font-family: "Tapestry", cursive !important;
  font-weight: normal;
  color: #4b4c5f;
}
.about__me span, .about__me p, .about__me ul {
  font-family: "Crimson Text", serif !important;
  color: #4b4c5f;
}

.portfolio .v-btn, .portfolio a {
  font-family: "Tapestry", cursive;
  color: #4f55f5;
}
.portfolio .v-card-title {
  font-family: "Tapestry", cursive;
}
.portfolio .v-card-subtitle {
  font-family: "Crimson Text", serif !important;
  color: #4f55f5;
}
.portfolio .v-card-text .title-portfolio {
  font-family: "Tapestry", cursive !important;
  color: #4b4c5f;
}
.portfolio .v-card-text .text-portfolio {
  font-family: "Crimson Text", serif;
  color: #4b4c5f;
}
.portfolio .v-card-actions {
  color: #4f55f5;
}
.portfolio p {
  font-family: "Crimson Text", serif !important;
  color: #4b4c5f;
}

.contacts h6 {
  font-family: "Tapestry", cursive !important;
  color: #4b4c5f;
}
.contacts p {
  font-family: "Crimson Text", serif !important;
  color: #4b4c5f;
}

.card-portfolio-header .project__title {
  font-family: "Tapestry", cursive;
  font-weight: normal;
  color: #4f55f5;
}

.content__portfolio h1 {
  font-family: "Niconne", cursive;
  font-weight: normal;
}
.content__portfolio p {
  font-family: "Crimson Text", serif !important;
  color: #4b4c5f;
}

.exists:hover {
  cursor: pointer;
}

.doesnt__exist:hover {
  cursor: not-allowed;
}

.error {
  position: relative;
  height: 50vh;
}
.error div {
  position: absolute;
  inset: 30% 30% 40%;
}
.error h1 {
  font-family: "Tapestry", cursive !important;
  color: #4f55f5;
  font-weight: normal;
}
.error h3 {
  font-family: "Niconne", cursive !important;
  color: #4b4c5f;
  font-weight: normal;
}
.error .button:hover {
  cursor: pointer;
}

.cookie-notification {
  position: fixed !important;
  bottom: 0 !important;
  right: 0;
  width: 100%;
  background-color: #4b4c5f !important;
  color: #fff !important;
  padding: 16px !important;
  z-index: 9999 !important;
}

.cookie-notification__heading {
  color: #66C7E5;
}

.cookie-notification__content {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.cookie-notification__content .v-btn {
  border: 2px solid #66C7E5;
}

.cookie-notification__message {
  font-size: 14px !important;
  line-height: 1.5 !important;
}

.cookie-notification__button {
  background: none !important;
  color: #66C7E5 !important;
}

/*# sourceMappingURL=main.css.map */
