@import 'variables';

// App Header Styles

.menu-btn {
  color: $blue-color;
  font-family: $font-tapestry;

  .v-btn {
    font-size: $font-size-menu * 0.8;
  }
}

.router-link-active {
  .v-btn__content {
    color: $grey-color;
  }
}

.v-toolbar-title__placeholder {
  color: $deep-blue-color;
  font-family: $font-niconne;
  font-size: $font-size-menu;
}

.v-list-item-title {
  font-family: $font-tapestry;
  font-size: $font-size-menu * 0.8 !important;
  color: $deep-blue-color;
  line-height: $font-size-menu * 2 !important;
}


// App Footer Styles

.footer-text {
  font-family: $font-niconne;
  font-size: $font-size-text;
  color: $grey-color;
}

.footer {
  background: $background !important;
}

// Hero Page

.introduction div {
  font-family: $font-tapestry !important;
  color: $deep-blue-color;
}

.introduction p {
  font-family: $font-niconne !important;
  color: $grey-color;
}

.introduction {
  span {
    font-family: $font-crimson !important;
    color: $grey-color;
  }
}

.mdi-cloud-download {
  color: $grey-color;
  font-size: $font-size-menu;
}

.buttons {
  .v-btn__content, a {
    color: $grey-color;
    font-size: $font-size-text * 0.7;
    font-family: $font-tapestry !important;
  }

  .v-btn {
    background: $background !important;
  }

  .v-btn.v-btn--density-default {
    height: 50px;
  }
}

.hero-text {
  color: $grey-color;
  font-family: $font-crimson !important;
}


// Skills Page

.title {
  font-family: $font-niconne !important;
  color: $grey-color;
  font-size: $font-size-menu * 1.3;
  font-weight: normal;
}


.subtitle {
  font-family: $font-tapestry !important;
  color: $grey-color;
  font-size: $font-size-menu * 1.1;
  font-weight: normal;
}

.skills {
  h4, h6 {
    font-family: $font-tapestry !important;
    color: $grey-color;
    font-weight: normal;
  }

  p {
    font-family: $font-crimson !important;
    color: $grey-color;
  }
}

// About Me Page
.about__me {
  h4 {
    font-family: $font-tapestry !important;
    font-weight: normal;
    color: $grey-color;
  }

  span, p, ul {
    font-family: $font-crimson !important;
    color: $grey-color;
  }
}

// Portfolio Page
.portfolio {
  .v-btn, a {
    font-family: $font-tapestry;
    color: $deep-blue-color;
  }

  .v-card-title {
    font-family: $font-tapestry;
  }

  .v-card-subtitle {
    font-family: $font-crimson !important;
    color: $deep-blue-color;
  }

  .v-card-text {
    .title-portfolio {
      font-family: $font-tapestry !important;
      color: $grey-color;
    }

    .text-portfolio {
      font-family: $font-crimson;
      color: $grey-color;
    }
  }

  .v-card-actions {
    color: $deep-blue-color;
  }

  p {
    font-family: $font-crimson !important;
    color: $grey-color;
  }
}

// Contacts Page
.contacts {
  h6 {
    font-family: $font-tapestry !important;
    color: $grey-color;
  }

  p {
    font-family: $font-crimson !important;
    color: $grey-color;
  }
}

// Portfolio Case

.card-portfolio-header {
  .project__title {
    font-family: $font-tapestry;
    font-weight: normal;
    color: $deep-blue-color;
  }
}

.content__portfolio {
  h1 {
    font-family: $font-niconne;
    font-weight: normal;
  }

  p {
    font-family: $font-crimson !important;
    color: $grey-color;
  }
}

.exists:hover {
  cursor: pointer;
}

.doesnt__exist:hover {
  cursor: not-allowed;
}


// Error Page

.error {
  position: relative;
  height: 50vh;

  div {
    position: absolute;
    inset: 30% 30% 40%;
  }

  h1 {
    font-family: $font-tapestry !important;
    color: $deep-blue-color;
    font-weight: normal;
  }

  h3 {
    font-family: $font-niconne !important;
    color: $grey-color;
    font-weight: normal;
  }

  .button:hover {
    cursor: pointer;
  }
}

// Cookie Notification Bar

.cookie-notification {
  position: fixed !important;
  bottom: 0 !important;
  right: 0;
  width: 100%;
  background-color: $grey-color !important;
  color: #fff !important;
  padding: 16px !important;
  z-index: 9999 !important;
}

.cookie-notification__heading {
  color: $blue-color;
}

.cookie-notification__content {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;

  .v-btn {
    border: 2px solid $blue-color;
  }
}

.cookie-notification__message {
  font-size: 14px !important;
  line-height: 1.5 !important;
}

.cookie-notification__button {
  background: none !important;
  color: $blue-color !important;
}





